{% extends 'emmsa/plantilla.twig' %}
{% block title %}{{ contenido["data"].titulo }}{% endblock %}

{% block cabecera %}
    {% for plantilla in plantillas.data %}
        {% if plantilla.tipo == "cab" %}
            {% include plantilla.archivo_portal_web %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block slider %}
    {% for plantilla in plantillas.data %}
        {% if plantilla.tipo == "sli" %}
            {% include plantilla.archivo_portal_web %}
        {% endif %}
    {% endfor %}
{% endblock %}

        {% block secciones %}
            <div class="section blog-news">
                <div class="container">
                    <div class="block-content m-top">
						<div class="row">
                            {% block seccionContenido %}
                                {% for plantilla in plantillas.data %}
                                    {% if plantilla.tipo == "con" %}
                                        {% include plantilla.archivo_portal_web %}
                                    {% endif %}
                                {% endfor %}
                            {% endblock %}

                            {% block seccionOpciones %}
                                {% for plantilla in plantillas.data %}
                                    {% if plantilla.tipo == "mel" %}
                                        {% include plantilla.archivo_portal_web %}
                                    {% endif %}
                                {% endfor %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}